<div class = "container">
  <div class="wrapper">
    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">       
      <h3 class="form-signin-heading">Prijavite se na sistem!</h3>
      <hr class="colorgraph"><br>
      <div *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
        <span class="badge badge-danger">{{ error }}</span>
      </div>    
      <input type="text" class="form-control" formControlName="username" placeholder="Korisnicko ime"/>
      <div *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
        <span class="badge badge-danger">{{ error }}</span>
      </div>
      <input type="password" class="form-control" formControlName="password" placeholder="Lozinka"/>     		     
      <button class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.valid">Prijava</button>  			
    </form>			
  </div>
</div>

<div class="modal fade bd-example-modal-sm" aria-hidden="true" id="error">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #cf3b1b">          
        <h5 class="modal-title" style="color:white"><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i> Greška</h5>
      </div>
      <div class="modal-body">
        <p style="color:#cf3b1b">
          Uneseni kredencijali nisu ispravni!
          Pokušajte ponovo!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
