<div class="row">
    <div class="col-md-6">
        <div class="jumbotron">
            <div class="alert alert-secondary" role="alert" *ngFor="let disease of personal_diagnostic" >
                <h3 class="alert-heading"> {{disease.title}} </h3>
                <hr>
                <div class="row">
                    <div class="col-6"></div>
                    <div class="col-6">
                        <button class="btn btn-danger btn-sm" (click)="deleteDisease(disease)">
                            <i class="fa fa-trash fa-lg" aria-hidden="true"></i> Obrisi
                        </button>
                        &nbsp;
                        <button class="btn btn-danger btn-sm" (click)="updateDisease(disease)" data-toggle="modal" data-target="#updateDisease">
                            <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Izmjeni
                        </button>
                    </div>
                </div>
            </div>      
        </div>
    </div>
    <div class="col-md-6">
        <br><br><br><br><br><br>
        <form [formGroup]="rForm" (ngSubmit)="addPersonalDiagnosis(rForm.value)">
            <div class="form-group">
                <label for="title">Naziv bolesti:</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Naziv bolesti">
            </div>
            <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                <span class="badge badge-danger">{{ error }}</span>
            </div>       
            <div>
                <input type="submit" class="btn btn-primary" [disabled]="!rForm.valid" value="Dodaj">
            </div>
        </form> 
    </div>
</div>

<div class="modal fade" id="updateDisease" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="updateForm" (ngSubmit)="updateDiagnosisValue(updateForm.value)">
                    <div class="form-group">
                        <label for="title">Naziv bolesti:</label>
                        <input type="text" class="form-control" formControlName="title" placeholder="Naziv bolesti">
                    </div>
                    <div *ngIf="!updateForm.controls['title'].valid && updateForm.controls['title'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div> 
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" [disabled]="!updateForm.valid" value="Izmjena">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
