<router-outlet></router-outlet>
<div class="modal fade bd-example-modal-sm" aria-hidden="true" id="monitoring">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #cf3b1b">          
                <h5 class="modal-title" style="color:white"><i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i></h5>
            </div>
            <div class="modal-body">
                <p style="color:#cf3b1b">
                    {{ monitoringMessage }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>