.jumbotron{
    overflow-y: scroll;
    height: 550px;
}

#medicine{
    overflow-y: scroll;
    height: 50px;
}

#medicament th, 
#medicament td {
    border: 1px solid rgb(16, 6, 56);
}

#ingredients-body{
    overflow-y: scroll;
    height: 250px;
}