<div class="jumbotron">
    <div class="row">
        <div class="col-md-10"></div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPatient">
            <i class="fa fa-plus" aria-hidden="true"></i> Dodaj pacijenta
        </button>
    </div>
    <br>
    <table class="table" id="patient">
        <tr>
            <th>Šifra</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Broj godina</th>
            <th>Operacije</th>
        </tr>
        <tr *ngFor="let patient of patients">
            <td>{{ patient.patientId }}</td>
            <td>{{ patient.name }}</td>
            <td>{{ patient.surname }}</td>
            <td>{{ patient.age }}</td>
            <td>
                <button class="btn btn-info btn-sm" (click)="updatePatient(patient)" data-toggle="modal" data-target="#updatePatient">
                    <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i> Izmijeni
                </button>
                &nbsp;
                <button class="btn btn-danger btn-sm" (click)="deletePatient(patient)">
                    <i class="fa fa-trash fa-lg" aria-hidden="true"></i> Obriši
                </button>
            </td>
        </tr>
    </table>
</div>

<div class="modal fade" id="addPatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <img src="{{image_patient}}" height="40" width="40">
                </h5>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="rForm" (ngSubmit)="addPatient(rForm.value)">
                    <div class="form-group">
                        <label for="title">Šifra:</label>
                        <input type="text" class="form-control" formControlName="patientId" placeholder="Šifra pacijenta" [ngClass]="{
                            'is-valid' : rForm.controls['patientId'].valid && rForm.controls['patientId'].touched,
                            'is-invalid' : rForm.controls['patientId'].invalid && rForm.controls['patientId'].touched
                        }">
                    </div>
                    <div *ngIf="!rForm.controls['patientId'].valid && rForm.controls['patientId'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title">Ime:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Ime pacijenta" [ngClass]="{
                            'is-valid' : rForm.controls['name'].valid && rForm.controls['name'].touched,
                            'is-invalid' : rForm.controls['name'].invalid && rForm.controls['name'].touched
                        }">
                    </div>
                    <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title">Prezime:</label>
                        <input type="text" class="form-control" formControlName="surname" placeholder="Prezime pacijenta" [ngClass]="{
                            'is-valid' : rForm.controls['surname'].valid && rForm.controls['surname'].touched,
                            'is-invalid' : rForm.controls['surname'].invalid && rForm.controls['surname'].touched
                        }">
                    </div>
                    <div *ngIf="!rForm.controls['surname'].valid && rForm.controls['surname'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title"> Broj godina:</label>
                        <input type="text" class="form-control" formControlName="age" placeholder="Broj godina" [ngClass]="{
                            'is-valid' : rForm.controls['age'].valid && rForm.controls['age'].touched,
                            'is-invalid' : rForm.controls['age'].invalid && rForm.controls['age'].touched
                        }">
                    </div>
                    <div *ngIf="!rForm.controls['age'].valid && rForm.controls['age'].touched">
                        <span class="badge badge-danger" *ngIf="age.errors.required">{{ error }}</span>
                        <span class="badge badge-danger" *ngIf="age.errors.numberInvalid">Unesena vrijednost mora biti broj!</span>
                    </div>    
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" [disabled]="!rForm.valid" value="Dodaj">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updatePatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <img src="{{image_patient}}" height="40" width="40">
                </h5>          
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateForm" (ngSubmit)="updatePatientValues(updateForm.value)">
                    <div class="form-group">
                        <label for="title">Šifra:</label>
                        <input type="text" class="form-control" formControlName="patientId" placeholder="Šifra pacijenta" [ngClass]="{
                            'is-valid' : updateForm.controls['patientId'].valid && updateForm.controls['patientId'].touched,
                            'is-invalid' : updateForm.controls['patientId'].invalid && updateForm.controls['patientId'].touched
                        }">
                    </div>
                    <div *ngIf="!updateForm.controls['patientId'].valid && updateForm.controls['patientId'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title">Ime:</label>
                        <input type="text" class="form-control" formControlName="name" placeholder="Ime pacijenta" [ngClass]="{
                            'is-valid' : updateForm.controls['name'].valid && updateForm.controls['name'].touched,
                            'is-invalid' : updateForm.controls['name'].invalid && updateForm.controls['name'].touched
                        }">
                    </div>
                    <div *ngIf="!updateForm.controls['name'].valid && updateForm.controls['name'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title">Prezime:</label>
                        <input type="text" class="form-control" formControlName="surname" placeholder="Prezime pacijenta" [ngClass]="{
                            'is-valid' : updateForm.controls['surname'].valid && updateForm.controls['surname'].touched,
                            'is-invalid' : updateForm.controls['surname'].invalid && updateForm.controls['surname'].touched
                        }">
                    </div>
                    <div *ngIf="!updateForm.controls['surname'].valid && updateForm.controls['surname'].touched">
                        <span class="badge badge-danger">{{ error }}</span>
                    </div>
                    <div class="form-group">
                        <label for="title">Broj godina:</label>
                        <input type="text" class="form-control" formControlName="updateAge" placeholder="Broj godina" [ngClass]="{
                            'is-valid' : updateForm.controls['updateAge'].valid && updateForm.controls['updateAge'].touched,
                            'is-invalid' : updateForm.controls['updateAge'].invalid && updateForm.controls['updateAge'].touched
                        }">
                    </div>
                    <div *ngIf="!updateForm.controls['updateAge'].valid && updateForm.controls['updateAge'].touched">
                        <span class="badge badge-danger" *ngIf="updateAge.errors.required">{{ error }}</span>
                        <span class="badge badge-danger" *ngIf="updateAge.errors.numberInvalid">Unesena vrijednost mora biti broj!</span>
                    </div>    
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" [disabled]="!updateForm.valid" value="Izmijeni">
                    </div>
                </form>  
            </div>
        </div>
    </div>
</div>
